@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&family=Roboto+Condensed:wght@400;700&display=swap");
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  @apply bg-white;
}

.footer-section {
  @apply flex flex-col items-start justify-center;
}

.footer-section h3 {
  @apply font-bold text-2xl;
}

html,
body,
#__next {
  @apply h-full;
}

html {
  font-size: calc(3px + 0.65vw);
}

@media screen and (min-width:400px) {
  html{
  font-size: calc(4px + 0.65vw);
  }
}

.header-link {
  @apply underline underline-offset-2 font-bold text-sm text-white font-para;
}

.footer-link {
  @apply underline underline-offset-2 font-light text-base text-black flex items-center justify-center gap-2 font-para;
}

#banner {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url(../assets/images/yannis-h-uaPaEM7MiQQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.image-learn-more {
  background-size: cover;
  background-position: center;
}

.image-learn-more--1 {
  background-image: url(../assets/images/learn-more.jpg);
}

.image-learn-more--2 {
  background-image: url(../assets/images/brooke-cagle--uHVRvDr7pg-unsplash.jpg);
}

.image-learn-more--3 {
  background-image: url(../assets/images/nikhita-s-NsPDiPFTp4c-unsplash.jpg);
}

.image-learn-more--4 {
  background-image: url(../assets/images/ray-sangga-kusuma-7uSrOyY1U0I-unsplash.jpg);
}

.radio:checked ~ .radio-label .radio-label-icon {
  opacity: 1;
}

#headerCheckbox:checked ~ .header-mobile .header-mobile-nav {
  display: flex;
}

.donation {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url(../assets/images/ivan-aleksic-PDRFeeDniCk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
